*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: segoe ui, sans-serif;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 1rem 2rem;
  background-color: #000010;
  border-bottom: 2px solid #00ff00;
}
